var isEnableBtn=function(hour,limitCount){
  return (hour==0||limitCount==1)?false:true
}
var arrayContain = function (array, obj) {
  if(array&&obj){
    for (var i = 0; i < array.length; i++) {
      if (array[i] === obj) return true
    }
  }
  return false
}
var getHaveNumber = function (obj, key) {
  if (obj){
    return obj[key] ? obj[key] : 0
  }else{
    return 0
  }
}
var getCoupleState = function (coupleState, coupleId) {
  var stateName='当前无对象'
  if (coupleState && coupleId) {
    var user=coupleState[coupleId]
    if(user){
      stateName='当前对象:'+user.userNickName
    }
  }
  return stateName
}
module.exports={
  isEnableBtn: isEnableBtn,
  arrayContain: arrayContain,
  getHaveNumber: getHaveNumber,
  getCoupleState: getCoupleState
}