var isEnableBtn=function(hour,limitCount){
  return (hour==0||limitCount==1)?false:true
}
var arrayContain = function (array, obj) {
  if(array&&obj){
    for (var i = 0; i < array.length; i++) {
      if (array[i] === obj) return true
    }
  }
  return false
}
var getHaveNumber = function (obj, key) {
  if (obj){
    return obj[key] ? obj[key] : 0
  }else{
    return 0
  }
}
var isCouple = function (coupleState, coupleId) {
  var flag = false
  if (coupleState && coupleId) {
    var user = coupleState[coupleId]
    if (user) {
      flag=true
    }
  }
  return flag
}
var getCoupleStateName = function (coupleState, coupleId) {
  var stateName='当前无对象'
  if (coupleState && coupleId) {
    var user=coupleState[coupleId]
    if(user){
      stateName='当前对象:'+user.nickName
    }
  }
  return stateName
}
var getCoupleStateAvatar = function (coupleState, coupleId) {
  var stateAvatar = ''
  if (coupleState && coupleId) {
    var user = coupleState[coupleId]
    if (user) {
      stateAvatar = user.avatarUrl
    }
  }
  return stateAvatar
}

var commentCode = function (comment){
  if (comment === '穷困潦倒') {
    return 1
  } else if (comment === '风生水起') {
    return 2
  } else if (comment === '碌碌无为') {
    return 3
  } else if (comment === '混王之王') {

  } return 4
}

module.exports={
  isEnableBtn: isEnableBtn,
  arrayContain: arrayContain,
  getHaveNumber: getHaveNumber,
  getCoupleStateName: getCoupleStateName,
  getCoupleStateAvatar: getCoupleStateAvatar,
  isCouple: isCouple,
  commentCode: commentCode
}